RewriteEngine On

# Jika file/folder asli ada, buka langsung
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Jika tidak ada, alihkan semua request ke index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]